.theme-light .header__rec {
  display: none;
}

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --menu-color: #353430;
  --menu-hover-color: rgba(53, 52, 48, 0.4);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --decorated-text-color: #353430;
  --simple-zone-border-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --menu-color: #353430;
    --menu-hover-color: rgba(53, 52, 48, 0.4);
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --decorated-text-color: #353430;
    --simple-zone-border-color: #353430;
  }
}